.label {
    -fx-font-size: 36.0px;
    -fx-font-weight: bold;
    -fx-font-family: 'Iceland';
    -fx-color: #333333; 
}

.button {
    -fx-font-size: 28.0px;
    -fx-padding: 8.0px 16.0px;
    -fx-background-color: #79B6BF;
    -fx-font-family: 'Iceland';
    -fx-text-fill: black;
}

.button:hover {
    -fx-background-color: #2596be;
}
